
header{
    height: 8vh;
    width: 200vh;
    background-color: #fac7f0;
    position:fixed;
    display: flex;
}

.header-link{
    color: black;
    font-size: 3ch;
    margin-left: 24vh;
    margin-top: 1vh; 
    border-radius: 20px;
    padding: 1vh;
    padding-bottom: 0;
    margin-bottom: 1vh;
    &:hover {
        color: #3d3d3d;
        font-size: 3.15vh;
    }

}

.home-page {
    display: flex;
    background-color: #fac7f0;
    height: 100vh;
    width: 180vh;
}

#self{
    height: 92vh;
    margin-top: 8vh;

}

#logo{
    margin-top: 40vh;
    height: 30vh;
    width: 108.8vh;
}

.about-me{
    width: 180vh;
}

#title-aboutme {
    display: flex;
    justify-content: center;
    font-size: 11vh;
    margin: 15vh 0 10vh 0;
}

#text-aboutme{
    font-size: 2.5vh;
    width: 150vh;
    text-align: center;
    margin-left: 12vh;
    line-height: 3vh;

}

#effect-phrase{
    font-size: 2.8vh;
    width: 150vh;
    text-align: center;
    margin-left: 12vh;
    line-height: 3vh;
    margin-top: 5vh;
    color: #e400b6;
}

button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5vh 0 0 76vh;
    height: 9vh;
    width: 24vh;
    border-radius: 10px;
    text-align: center;
    border: solid 1px;
    font-size: 3vh;    
    background-color:#fac7f0;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.18);
    &:hover{
        background-color: #ff8fe9;
        font-size: 3.2vh;    
    }

}

a{
    color: black;
    text-decoration: none;
}

#title-myjob {
    display: flex;
    justify-content: center;
    font-size: 11vh;
    margin: 15vh 0 8vh 0;
}

#text-myjob {
    font-size: 2.5vh;
    line-height: 3vh;
    width: 150vh;
    text-align: center;
    margin-left: 12vh;
    margin-bottom: 5vh
}

.galery {
    display: inline;
    margin-left: 10vh;
}

.nails{
    width: 40vh;
    height: 40vh;
}


#title-map {
    display: flex;
    justify-content: center;
    font-size: 11vh;
    margin: 15vh 0 10vh 0;
}

#iframe-map {
    width: 160vh;
    margin-left: 10vh;
    border: 1vh solid black;
    border-radius: 15px;
    margin-bottom: 20vh;
}

.footer{
    background-color: #fac7f0;
    height: 40vh;
}
.footer-link {
    color: black;
    font-size: 6vh;
    margin-top: 5vh;
}

.footer-direct-links{
    margin-top: 5vh;
    display: flex;
    gap: 2vh;
    justify-content: center;
    gap: 6vh;
}

.link-logo-footer{
    display: flex;
    justify-content: center;
}

#footer-link-img {
    width: 18vh;
    height: 10vh;
    margin-top: 2vh;
}

.foot-bar {
    display: flex;
    justify-content: center;
    margin-top: 5vh;
    background-color: black;
    height: 6vh;
    color: rgb(255, 255, 255);
    font-size: 2.4ch;
}

#copyr-warning {
    margin-top: 2vh;
}